
/************* MEDIA QUERYS **************/


@media only screen and (min-width: 1200px) {

    .container{
        width: 86.7%;
    }

    .text{
        font-size: 1.6rem;
    }

    .button{
        padding: 15.5px auto;
    }

    .title{
        font-size: 1.98rem;
    }
    
    /************* MAIN STYLES **************/

    main{
        margin-top: -92px;
        margin-bottom: 80px;
    }

    /****************/

 

}